#leagueLayout{
	border: 1px solid black;
	color:rgb(230,230,230);
	text-align:left;
	width:80vw;
	height:50%;
	overflow:auto;
}
background{
	overflow.auto;
}
td.column{
	width:40vw;
	vertical-align:top;
}
#LeagueTable{
	margin-top:0px;
	vertical-align:top;
	top:0px;
	width:75%;
}
td.text{
	font-size:1em;
	overflow:auto
}